@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: 1s;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 12px; 
 }

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

body{
    background: #1e1e1e;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background: cyan url("/images/bg.jpg");
    background-size: cover;
    /* background-size: 100% 100%; */
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    z-index: 2;
    height:10vh;
}
.header h1 a{
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-decoration: none;
}

.header nav ul li{
    display: inline-block;
    margin: 10px 12px;
}

.header nav ul li a{
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background: #10bea4;
    text-decoration:none;
}

.header nav ul li a:hover{
    background: transparent;
    border: 2px solid #10bea4;
    text-decoration:underline;
}

.bgimg{
    background: url("/images/bg.jpg") no-repeat scroll;
    height: 50vw;
    background-attachment: fixed;
    background-size: cover;
    /* background-size: 100% 100%; */
    min-height: 60vh;


}

/* main */

.main{
    width: 80vw;
    margin: auto;
}
.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Hi{
    font-size: 5vw;
}
.name{
    font-size: 5vw;
}
.job{
    opacity: 0.8;
}
.intro a{
    padding: 10px 15px;
    color: #10bea4;
    text-decoration: none;
    border: 2px solid #10bea4;
    border-radius: 5px;
}
.intro a:hover{
    background: #10bea4;
    color: #fff;
}

.img img{
    border-radius:100%;
    width: 270px;
    height: 300px;
    border: 5px double #10bea4;

}

/* About */
.about{
    padding: 15vh;
}
.heading{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'system-ui',sans-serif;
    color: #10bea4;
}
.txt{
    font-size: 20px;
    text-decoration: none;
    width: 50vw;
    margin: auto;
    text-align:center;
    color: #fff;
}


.skills{
    padding: 15vh;
}








.contact{
    padding: 15vh;
}
.contactcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    font-size:20px
}
.contactcontent a{
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
}


footer{
    text-align: center;
    margin-top: 50px;
    background: #10bea4;
    padding: 20px;
}
.accounts{
    display:flex;
    
}